mixin container
  div.container
    block

mixin container-full
  div.container.full
    block

mixin grid
  div.flex-grid
    block

mixin grid-space
  div.flex-grid.w1-2
    block

mixin col
  div.col
    block