mixin container
  div.container
    block

mixin container-full
  div.container.full
    block

mixin row
  div.flex-grid
    block

mixin row-with-sidebarW
  div.flex-grid.w1-2
    block

mixin row-with-sidebar-reverse
  div.flex-grid.w2-1
    block

mixin col
  div.col
    block