extends ../index

block append head
  // Nothing to append

block content
  div.home
    p #{CONTACT.email}
  

block customScript
  script(src= 'js/main.js')
  script(async src= 'https://www.googletagmanager.com/gtag/js?id=UA-47226367-6')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-47226367-6');
