extends ../index
include ../components/grid/grid
include ../components/header/header
include ../components/box-3/box-3
include ../components/box-teaser/box-teaser

block append head
  // Nothing to append

block content
  <!-- Header -->
  +container-full
    +row
      +col
        +header
  <!-- Content -->
  +container
    +row_space-all
      +box-3( BOX_3[0] )
      +box-3( BOX_3[1] )
      +box-3( BOX_3[2] )
  <!-- Teaser -->
  +container
    +row_space-top
      +col
        +box-teaser( BOX_TEASER )


  

block customScript
  script(async src= 'https://www.googletagmanager.com/')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-47226367-6');
