extends ../index
include ../struct-layout/grid
include ../struct-content/header

block append head
  // Nothing to append

block content
  +container-full
    +grid
      +col
        +header


    +grid-space
      +col
        div.home
          p #{HOME.salutation} tu


  

block customScript
  script(async src= 'https://www.googletagmanager.com/')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-47226367-6');
