doctype html
html( lang= INDEX.lang )
  head
    meta(charset= INDEX.charset)
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content= INDEX.description )
    meta(name='author', content= INDEX.author)
    title= INDEX.pageTitle
    link(href= 'assets/css/index.css', rel='stylesheet')
    link(href= 'assets/css/view.css', rel='stylesheet')
    block head
  body
    //- todo: replace this in php
    div(style='display:none;')
      include ../assets/images/icons.svg
    block content
    script(src='assets/js/index.js')
    block customScript