include ../grid/grid
include ../icon/icon

mixin footer( )
  div.footer
     div.footer__content-wrapper 
      +container
          +row-with-sidebar-reverse
            +col
              div.footer__title #{FOOTER.contact}
              div.footer__social.footer__social--facebook
                +icon('facebook')
              div.footer__social.footer__social--instagram
                +icon('instagram')
              div.footer__social.footer__social--email
                +icon('email')
          
            +col
              div.footer__title #{FOOTER.linksHeadline}
              div.footer__p #{FOOTER.linksText}
          +row.footer__separation
            +col
              div.footer__copyright #{FOOTER.copyright}
     