include ../grid/grid
include ../icon/icon

mixin footer( )
  div.footer
     div.footer__content-wrapper 
      +container
          +row
            +col
            div #{FOOTER.test}
            div.footer__social
              +icon('facebook')
     