@font-face {
  font-family: 'Text';
  src : url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Deco';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
}


$font-color: $black;
$font-color--contrast: $white;


//--------------------------------------------------------------------------

h1{
  font-weight : 600;
  font-size : 35px;
  letter-spacing: -0.02em;
  margin-bottom:20px;
  font-family: 'Deco';
  @include tablet {
    font-weight : 400;
    font-size : 49px;
  }
}

h2{
  font-weight : 400;
  font-size : 20px;
  letter-spacing: -0.02em;
  margin-bottom:20px;
  font-family: 'Deco';
  @include tablet {
    font-weight : 400;
    font-size : 35px;
  }
}

h3{
  font-weight : bold;
  font-size : 24px;
  letter-spacing: -0.03em;
  font-weight : 600;

}

p{
  font-weight : 400;
  font-size : 13px;
  line-height : 18px;
  letter-spacing: -0.02em;
  font-family: 'Text';
}


body{
  font-family: 'Text';
  font-size:14px;
}

a{
  display:block;
  padding:10px;
  &:link, &:visited, &:active{
    color:rgb(107, 107, 107); 
  }

  &:hover{
    
  }
}