$blue-light: #8DCFFC;
$blue-medium: #227EFF;
$blue-dark: #1350AD;


$white: #FFF;
$grey: #F2F2F2;
$black: #000;
$fav-color-1: $blue-medium;
$fav-color-2: $blue-dark;
$fav-color-3: $blue-light;


.bgcolor-1{
  background-color: $fav-color-1;
}
.bgcolor-2{
  background-color: $fav-color-2;
}
.bgcolor-3{
  background-color: $fav-color-3;
}
.bgcolor-g1{
  background-color:$grey;
}
.bgcolor-w{
  background-color:$white;
}

.color-1{
  color: $fav-color-1;
}
.color-2{
  color: $fav-color-2;
}
.color-3{
  color: $fav-color-3;
}
.color-g1{
  color:$grey;
}
.color-w{
  color:$white;
}
