mixin container
  div.container
    block

mixin container-full
  div.container.full
    block

mixin row
  div.flex-grid(class!=attributes.class)
    block

//- mixin row_space-all
//-   +row( class='flex-grid--padding-top flex-grid--padding-sides' )
//-     block

mixin row_space-top
  +row( class='flex-grid--padding-top' )
    block


mixin row-with-sidebar
  div.flex-grid.w1-2
    block

mixin row-with-sidebar-reverse
  div.flex-grid.w2-1
    block

mixin col
  div.col(class!=attributes.class)
    block

mixin col_space
  +col( class='col--space-sides' )
    block

mixin col_slogan
  +col( class='col--space-sides col--slogan' )
    block